---
import Layout from "../layouts/Layout.astro";
import SocialSection from "../components/SocialSection.astro";
---

<Layout title="Welcome to Astro.">
  <main class="font-c-spartan my-20 px-5 w-[375px] 2xl:w-[1440px] 2xl:mx-auto 2xl:my-0 z-50">
    <SocialSection />
  </main>
</Layout>
